$textColor: #131313;
$skyblue: #3498db;
$emeraldgreen: #2ecc71;
$carrotorange: #e67e22;
$amethystpurple: #9b59b6;
$raspberrypink: #ec3b7b;

$colors: (
	skyblue: $skyblue,
	emeraldgreen: $emeraldgreen,
	carrotorange: $carrotorange,
	amethystpurple: $amethystpurple,
	raspberrypink: $raspberrypink,
);
