@import '../styles/colors.scss';

.colors {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	z-index: 1000;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	gap: 1rem;

	button {
		width: 2rem;
		height: 2rem;
		overflow: hidden;
		border-radius: 50%;
		border: none;
		cursor: pointer;
		color: transparent;
		text-shadow: none;

		@each $name, $color in $colors {
			&.#{$name} {
				background-color: $color;
				border: 2px solid darken($color, 10%);

				&:hover {
					background-color: darken($color, 10%);
				}
			}
		}
	}
}
